<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace = "videoSQL">
 	<!-- Videos -->
 	<insert id = "upload" parameterType = "video">
 		insert into movie(genrecode1, genrecode2, genrecode3, title, story, nation, director, actor, year, releasedate) values (#{genrecode1}, #{genrecode2}, #{genrecode3}, #{title}, #{story}, #{nation}, #{director}, #{actor}, #{year}, #{releasedate})
 	</insert>
 	
 	
 	<select id = "importSeq" parameterType = "HashMap" resultType = "_int">
 		select max(${seqMovie}) as seqMovie from movie
 	</select>
 	
 	<select id = "searchMovie" parameterType = "video" resultType = "video">
 		select * from movie where title like #{title}
 	</select>
 	
 	<select id = "create" parameterType = "HashMap">
  		${sql}
  	</select>
  	
  	<!-- Episodes -->
  	<insert id = "addEpisodes" parameterType = "ep">
  		insert into ${tableName} values(#{ep}, #{eptitle}, #{epstory}, #{runtime}, #{thumbnail}, #{grade}, #{seqMovie})
  	</insert>
 </mapper>