<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminSQL">

	<select id="getReportList" parameterType="String" resultType="report">
  		select rp.seqReport, rp.seqComment as 'seqComment', c.content as 'comment', rp.email, n.nickname, rp.content, rp.checked
		from(select * from report order by seqReport desc ${limit}) rp, (select seqComment, content from comment) c, (select seqNick, nickname from nickname) n
		where rp.seqComment = c.seqComment and rp.seqNick = n.seqNick
  	</select>
  	
  	<select id="getReportListDetail" parameterType="java.util.Map" resultType="report">
		select rp.seqReport, rp.seqComment as 'seqComment', c.content as 'comment', rp.email, n.nickname, rp.content, rp.checked
		from(select * from report limit ${startNum}, ${endNum}) rp, (select seqComment, content from comment) c, (select seqNick, nickname from nickname) n
		where rp.seqComment = c.seqComment and rp.seqNick = n.seqNick
		order by seqReport
	</select>
	
	<select id="getUserList" parameterType="java.util.Map" resultType="user">
		select user.email, name, seqNick, nickname, age, phone, active, type as 'membershipType', membershipStartDate as 'startDate', membershipEndDate as 'endDate'
		from user, nickname, membership
		where user.email = nickname.email and membership.seqMembership = user.seqMembership
		order by email
		limit ${startNum}, ${endNum}
	</select>
  	
  	<select id="getUserCnt" resultType="int">
  		select count(*) from user
  	</select>
  	
  	<select id="getMovieCnt" resultType="int">
  		select count(*) from movie
  	</select>
  	
  	<select id="getReportCnt" resultType="int">
  		select count(*) from report
  	</select>
  	
  	<select id="getNicknameCnt" resultType="int">
  		select count(*) from nickname
  	</select>
  	
  	<select id="getMemberShip" resultType="membership">
  		select * from membership
  	</select>
  	
  	<update id="checkReport" parameterType="String">
  		UPDATE report SET checked = '1' WHERE seqReport = ${seqReport}
  	</update>
  	
  	<update id="checkOtherReport" parameterType="String">
  		UPDATE report SET checked = '1' WHERE seqComment = ${seqComment}
  	</update>
  	
  	<update id="checkComment" parameterType="String">
  		UPDATE comment SET checked = '1' WHERE seqComment = ${seqComment}
  	</update>
  	
  	<update id="updateMembership" parameterType="java.util.Map">
  		UPDATE membership SET type = #{name}, price = ${price} WHERE seqMembership = ${seq}
  	</update>
</mapper>