@charset "UTF-8";
.writeForm0Background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.writeForm0Background img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}